@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0505;
  --foreground: #f5eeee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
